<html>
    <head>
        <title>Login Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/client/login.js"></script>
    </head>
    <body>
        <!-- Sample login form with all required markup -->

        <div class="column small-offset-4 small-4 login-viewport">
            <div class="login-viewport">

                <div class="login-message">
                    <p>Please enter your username and password to log in.</p>
                </div>
                {{>login-form}}
            </div>
        </div>

        <!-- configure and instantiate our module -->
        <script type="text/javascript">
            var login = gpii.express.couchuser.frontend.login("body", {
                components: {
                    templates: {
                        options: {
                            model: {
                                "templateUrl": "/hbs"
                            }
                        }
                    }
                }
            });

            $(document).foundation();
        </script>
    </body>
</html>